[package]
name = "postgres"
version = "0.1.0"
edition = "2021"

[dependencies]
poem = "1.3.55"
serde = "1.0.148"
shuttle-poem = { version = "0.12.0-rc1" }
shuttle-runtime = { version = "0.12.0-rc1" }
shuttle-shared-db = { version = "0.12.0-rc1", features = ["postgres"] }
sqlx = { version = "0.6.2", features = ["runtime-tokio-native-tls", "postgres"] }
tokio = { version = "1.26.0" }
