[package]
name = "postgres"
version = "0.1.0"
edition = "2021"

[lib]

[dependencies]
poem = "1.3.49"
serde = "1.0.148"
shuttle-service = { version = "0.10.0", features = ["web-poem"] }
shuttle-shared-db = { version = "0.10.0", features = ["postgres"] }
sqlx = { version = "0.6.2", features = ["runtime-tokio-native-tls", "postgres"] }
