[package]
name = "hello-world"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = [ "cdylib" ]

[dependencies]
# TODO: bump to 0.9 before merge
shuttle-next = "0.15.0"
tracing = "0.1.37"
futures = "0.3.25"
