[package]
name = "postgres"
version = "0.1.0"
edition = "2021"

[lib]

[dependencies]
actix-web = "4.2.1"
serde = "1.0.148"
shuttle-service = { version = "0.8.0", features = ["web-actix-web"] }
shuttle-shared-db = { version = "0.8.0", features = ["postgres"] }
sqlx = { version = "0.6.2", features = ["runtime-tokio-native-tls", "postgres"] }
