## OFFICIAL STARTERS ##

[templates.actix-web-hello-world]
title = "Actix Web Hello World"
path = "actix-web/hello-world"
type = "starter"
use_cases = ["Web app"]
tags = ["actix-web"]
template = "actix-web"

[templates.axum-hello-world]
title = "Axum Hello World"
path = "axum/hello-world"
type = "starter"
use_cases = ["Web app"]
tags = ["axum"]
template = "axum"

[templates.loco-hello-world]
title = "Loco Hello World"
path = "loco/hello-world"
type = "starter"
use_cases = ["Web app"]
tags = ["loco"]
template = "loco"

[templates.poem-hello-world]
title = "Poem Hello World"
path = "poem/hello-world"
type = "starter"
use_cases = ["Web app"]
tags = ["poem"]
template = "poem"

[templates.poise-hello-world]
title = "Poise Hello World"
path = "poise/hello-world"
type = "starter"
use_cases = ["Discord bot"]
tags = ["poise", "serenity"]
template = "poise"

[templates.rocket-hello-world]
title = "Rocket Hello World"
path = "rocket/hello-world"
type = "starter"
use_cases = ["Web app"]
tags = ["rocket"]
template = "rocket"

[templates.salvo-hello-world]
title = "Salvo Hello World"
path = "salvo/hello-world"
type = "starter"
use_cases = ["Web app"]
tags = ["salvo"]
template = "salvo"

[templates.serenity-hello-world]
title = "Serenity Hello World"
path = "serenity/hello-world"
type = "starter"
use_cases = ["Discord bot"]
tags = ["serenity"]
template = "serenity"

[templates.thruster-hello-world]
title = "Thruster Hello World"
path = "thruster/hello-world"
type = "starter"
use_cases = ["Web app"]
tags = ["thruster"]
template = "thruster"

[templates.tide-hello-world]
title = "Tide Hello World"
path = "tide/hello-world"
type = "starter"
use_cases = ["Web app"]
tags = ["tide"]
template = "tide"

[templates.tower-hello-world]
title = "Tower Hello World"
path = "tower/hello-world"
type = "starter"
use_cases = ["Web app"]
tags = ["tower"]
template = "tower"

[templates.warp-hello-world]
title = "Warp Hello World"
path = "warp/hello-world"
type = "starter"
use_cases = ["Web app"]
tags = ["warp"]
template = "warp"

[templates.none]
title = "None"
description = "Empty service - A barebones implementation of Shuttle Service trait that does nothing"
path = "custom-service/none"
type = "starter"
use_cases = []
tags = ["diy"]
template = "none"


## OFFICIAL TEMPLATES ##


[templates.actix-web-postgres]
title = "Actix Web Postgres"
description = "Todo list with a Postgres database"
path = "actix-web/postgres"
type = "template"
use_cases = ["Web app", "Storage"]
tags = ["actix-web", "database", "postgres"]

[templates.actix-web-clerk-react]
title = "Clerk authentication"
description = "Fullstack Rust+React with auth provider logic"
path = "actix-web/clerk"
type = "template"
use_cases = ["Web app", "Authentication"]
tags = ["actix-web", "clerk", "react", "typescript", "tailwind"]

[templates.actix-cookie-authentication]
title = "Cookie Authentication"
description = "Use JWT to authenticate API endpoints"
path = "actix-web/cookie-authentication"
type = "template"
use_cases = ["Web app", "Authentication"]
tags = ["actix-web", "jwt"]

[templates.actix-websocket-actorless]
title = "Actix Web Actorless Websockets"
description = "Health monitoring service using websockets"
path = "actix-web/websocket-actorless"
type = "template"
use_cases = ["Web app", "Monitoring"]
tags = ["actix-web", "websocket"]

[templates.actix-static-files]
title = "Actix Web static file server"
description = "Hello World page that serves static HTML and JS files"
path = "actix-web/static-files"
type = "template"
use_cases = ["Web app"]
tags = ["actix-web"]

[templates.axum-htmx-crud]
title = "Axum + HTMX"
description = "Simple CRUD app using HTMX and Askama"
path = "axum/htmx-crud"
type = "template"
use_cases = ["Web app", "Storage"]
tags = ["axum", "htmx", "database", "postgres"]

[templates.axum-jwt-authentication]
title = "JWT authentication"
description = "Use JWT to authenticate API endpoints"
path = "axum/jwt-authentication"
type = "template"
use_cases = ["Web app", "Authentication"]
tags = ["axum", "jwt"]

[templates.axum-metadata]
title = "Shuttle Metadata"
description = "Basic usage of Shuttle metadata"
path = "axum/metadata"
type = "template"
use_cases = []
tags = ["axum"]

[templates.axum-postgres]
title = "Axum Postgres"
description = "Todo list with a Postgres database"
path = "axum/postgres"
type = "template"
use_cases = ["Web app", "Storage"]
tags = ["axum", "database", "postgres"]

[templates.axum-qdrant]
title = "Qdrant"
description = "Connecting to Qdrant cloud with shuttle-qdrant"
path = "axum/qdrant"
type = "template"
use_cases = ["Web app", "Storage", "AI"]
tags = ["axum", "database", "qdrant"]

[templates.axum-static-files]
title = "File server"
description = "Hello World static file server with tower-http"
path = "axum/static-files"
type = "template"
use_cases = ["Web app"]
tags = ["axum"]

[templates.axum-turso]
title = "Turso"
description = "Connect to a Turso DB with shuttle-turso"
path = "axum/turso"
type = "template"
use_cases = ["Web app", "Storage"]
tags = ["axum", "database", "libsql", "sqlite"]

[templates.axum-websocket]
title = "Axum Websockets"
description = "Health monitoring service using websockets"
path = "axum/websocket"
type = "template"
use_cases = ["Web app", "Monitoring"]
tags = ["axum", "websocket"]

[templates.custom-resource-pdo]
title = "Custom Resource"
description = "A custom resource for the Shuttle main macro"
path = "custom-resource/pdo"
type = "template"
use_cases = []
tags = ["diy"]

[templates.request-scheduler]
title = "Request Scheduler"
description = "Schedule requests with a cron schedule"
path = "custom-service/request-scheduler"
type = "template"
use_cases = ["Web app", "Cron jobs", "Storage"]
tags = ["axum"]

[templates.axum-next-fullstack-saas]
title = "Fullstack SaaS"
description = "Opinionated fullstack web app with pre-made routes and assets"
path = "fullstack-templates/saas"
type = "template"
use_cases = ["Web app", "Authentication", "Storage", "Monetization"]
tags = ["axum", "next.js", "database", "postgres", "typescript", "tailwind"]

[templates.standalone-binary]
title = "Standalone binary"
description = "How to split a project to allow it to run both with Shuttle and standalone"
path = "other/standalone-binary"
type = "template"
use_cases = []
tags = ["diy", "axum"]

[templates.poem-mongodb]
title = "Poem MongoDB"
description = "Todo list with a MongoDB database"
path = "poem/mongodb"
type = "template"
use_cases = ["Web app", "Storage"]
tags = ["poem", "database", "mongodb"]

[templates.rocket-dyn-templates]
title = "Rocket Handlebars dynamic templates"
description = "HTML templating with Handlebars"
path = "rocket/dyn-templates"
type = "template"
use_cases = ["Web app"]
tags = ["rocket", "handlebars"]

[templates.rocket-jwt-authentication]
title = "JWT authentication"
description = "Use JWT to authenticate API endpoints"
path = "rocket/jwt-authentication"
type = "template"
use_cases = ["Web app", "Authentication"]
tags = ["rocket", "jwt"]

[templates.rocket-opendal-memory]
title = "OpenDAL in-memory store"
description = "A hashmap key-value store using OpenDAL"
path = "rocket/opendal-memory"
type = "template"
use_cases = ["Web app", "Storage"]
tags = ["rocket", "opendal"]

[templates.rocket-persist]
title = "Rocket shuttle-persist"
description = "A hashmap key-value store using OpenDAL"
path = "rocket/opendal-memory"
type = "template"
use_cases = ["Web app", "Storage"]
tags = ["rocket", "opendal"]

[templates.rocket-postgres]
title = "Rocket Postgres"
description = "Todo list with a Postgres database"
path = "rocket/postgres"
type = "template"
use_cases = ["Web app", "Storage"]
tags = ["rocket", "database", "postgres"]

[templates.rocket-secrets]
title = "Shuttle Secrets"
description = "Rocket app showing how to use Shuttle Secrets"
path = "rocket/secrets"
type = "template"
use_cases = ["Web app"]
tags = ["rocket"]

[templates.rocket-static-files]
title = "Rocket static file server"
description = "Hello World page that serves static HTML files"
path = "rocket/static-files"
type = "template"
use_cases = ["Web app"]
tags = ["rocket"]

[templates.rocket-url-shortener]
title = "URL shortener"
description = "Save long URLs behind a short one, with Postgres storage"
path = "rocket/url-shortener"
type = "template"
use_cases = ["Web app", "Storage"]
tags = ["rocket", "database", "postgres"]

[templates.workspace]
title = "Workspace"
description = "How to use a Shuttle app in a Cargo workspace"
path = "rocket/workspace"
type = "template"
use_cases = []
tags = []

[templates.salvo-image-rescaler]
title = "Image Rescaler"
description = "Use the image library to rescale the Shuttle logo"
path = "salvo/image-rescaler"
type = "template"
use_cases = ["Web app", "Image processing"]
tags = ["salvo", "image"]

[templates.serenity-postgres]
title = "Serenity Postgres"
description = "Todo list bot with a Postgres database"
path = "serenity/postgres"
type = "template"
use_cases = ["Discord bot", "Storage"]
tags = ["serenity", "database", "postgres"]

[templates.shuttle-cron]
title = "Shutte custom Cron service"
description = "Schedule tasks with a cron schedule"
path = "shuttle-cron"
type = "template"
use_cases = ["Cron jobs", "Storage"]
tags = ["axum", "apalis", "database", "postgres"]

[templates.custom-tracing-subscriber]
title = "Custom Tracing Subscriber"
description = "How to use a custom tracing-subscriber on Shuttle"
path = "tracing/custom-tracing-subscriber"
type = "template"
use_cases = ["Web App", "Logging"]
tags = ["actix-web", "tracing"]


## COMMUNITY TEMPLATES ##


[templates.actix-github-oauth]
title = "GitHub Login (OAuth)"
description = "Sample app demonstrating GitHub OAuth login using Actix Web"
type = "template"
use_cases = ["Web App", "Authentication"]
tags = ["actix-web", "oauth"]
community = true
author = "robjtede"
repo = "https://github.com/robjtede/actix-examples-oauth-github"

[templates.fullstack-rust]
title = "Fullstack Rust"
description = "A basic project template for fullstack Rust projects"
type = "template"
use_cases = ["Web App"]
tags = ["axum", "yew"]
community = true
author = "TylerBloom"
repo = "https://github.com/TylerBloom/shuttle-fullstack-rust-example"

[templates.axum-web-app-yew]
title = "Web App with Yew"
description = "A basic project template for a web app using the Yew framework"
type = "template"
use_cases = ["Web App"]
tags = ["axum", "yew"]
community = true
author = "sentinel1909"
repo = "https://github.com/sentinel1909/shuttle-template-yew"
