[package]
name = "hello-world"
version = "0.1.0"
edition = "2021"

[lib]

[dependencies]
hyper = { version = "0.14.23", features = ["full"] }
shuttle-service = { version = "0.11.0", features = ["web-tower"] }
tower = { version = "0.4.13", features = ["full"] }
