<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Axum and Askama</title>
        <link href="static/style.css" rel="stylesheet"/>
        <script src="static/script.js"></script>
    </head>
    <body>
        <p class="message">{{ message }}</p>
        <div>
            <button id="decrease">-</button>
            <span id="count">0</span>
            <button id="increase">+</button>
        </div>
    </body>
</html>
