[package]
name = "hello-world"
version = "0.1.0"
edition = "2021"

[dependencies]
shuttle-service = { version = "0.11.0", features = ["web-thruster"] }
thruster = { version = "1.3.0", features = ["hyper_server"] }
