[package]
name = "hello-world"
version = "0.1.0"
edition = "2021"

[dependencies]
shuttle-thruster = { version = "0.1.0" }
shuttle-runtime = { version = "0.1.0" }
thruster = { version = "1.3.0", features = ["hyper_server"] }
tokio = { version = "1.26.0" }
