<!DOCTYPE html>
<head>
 <meta charset="UTF-8">
 <title>Shuttle example: Rocket with Handlebars dynamic templates</title>
</head>
<body>
<section id="hello">
    <h1>Hi {{ name }}!</h1>
    <p>Try entering your own name in the page url to see the page content change <a href="./your-name">./hello/edit_this_part_of_url</a></p>
    <h3>Here are the items supplied by the vec! macro in the Template::render context:</h3>
    <ul>
        {{#each items}}
            <li>{{ this }}</li>
        {{/each}}
    </ul>
</section>
<section id="notes">
<p>Templates are evaluated on request, so if you edit a template while running locally using <code>shuttle run</code> there is no need to rebuild.</p>
</section>
</body>
</html>
