[package]
name = "multi-binary"
version = "0.1.0"
edition = "2021"
publish = false

[[bin]]
name = "standalone"
path = "src/standalone.rs"

[dependencies]
axum = "0.6.18"
dotenvy = "0.15.7"
shuttle-axum = "0.22.0"
shuttle-runtime = "0.22.0"
shuttle-secrets = "0.22.0"
tokio = "1.28.2"
