[package]
name = "multi-binary"
version = "0.1.0"
edition = "2021"
publish = false

[[bin]]
name = "multi-binary"
path = "src/bin/shuttle.rs"

[[bin]]
name = "standalone"
path = "src/bin/standalone.rs"

[dependencies]
axum = "0.7.3"
dotenvy = "0.15.7"
shuttle-axum = { version = "0.52.0", default-features = false, features = ["axum-0-7"] }
shuttle-runtime = "0.52.0"
tokio = "1.28.2"
