[workspace]

[package]
name = "hello_world"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

async-trait = "0.1.74"
axum = "0.7.1"
eyre = "*"
loco-rs = { version = "0.3.1", default-features = false, features = ["cli"] }
shuttle-axum = "0.47.0"
shuttle-runtime = { version = "0.47.0", default-features = false }
serde = "*"
serde_json = "*"
tokio = "1.33.0"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.17", features = ["env-filter", "json"] }

[[bin]]
name = "hello_world-cli"
path = "src/bin/main.rs"
required-features = []

[[bin]]
name = "hello_world"
path = "src/bin/shuttle.rs"

[dev-dependencies]
serial_test = "*"
rstest = "*"
loco-rs = { version = "0.3.1", default-features = false, features = [
  "testing",
  "cli",
] }
insta = { version = "*", features = ["redactions", "yaml", "filters"] }
