[package]
name = "hello-world"
version = "0.1.0"
edition = "2021"

[dependencies]
poem = "1.3.55"
shuttle-poem = { version = "0.12.0-rc1" }
shuttle-runtime = { version = "0.12.0-rc1" }
tokio = { version = "1.26.0" }
