[package]
name = "postgres"
version = "0.1.0"
edition = "2021"

[dependencies]
hyper = "0.14.23"
serde = { version = "1.0.148", features = ["derive"] }
serde_json = "1.0.89"
shuttle-aws-rds = { version = "0.11.0", features = ["postgres"] }
sqlx = { version = "0.6.2", features = ["runtime-tokio-native-tls", "postgres"] }
shuttle-thruster = { version = "0.1.0" }
shuttle-runtime = { version = "0.1.0" }
thruster = { version = "1.3.0", features = ["hyper_server"] }
tokio = { version = "1.26.0" }
